.grid-container {
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  aspect-ratio: 1/1;
}

.grid-square {
  display: flex;
  border: 1px solid green;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

main{
  background-color: #7fffd4;
}